*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.Signup-form{
    width: 800px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
}

.text-field{
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.submit-btn{
    color: #ffffff;
    font-size: 14px;
    background-color: #1bbc9b;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100px;
}

.submit-btn:hover {
    background-color: #151516;
    color: #fff;
}

.links{
    text-align: center;
}

.links a{
    font-size: 12px;
    color: #737373;
}

.select{
    width: 150px;
    height: 40px;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
}

.select option{
    padding: 3px 0;
}